{{ define "main" }}
  <header class="page-header">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
  </header>

  {{ $paginator := .Paginate .Pages }}
  {{ range $paginator.Pages }}
  <article class="post-entry">
    <header class="entry-header">
      <h2 class="entry-hint-parent">{{ .Title }}</h2>
    </header>
    <div class="entry-content">
      <p>{{ .Summary | plainify | htmlUnescape }}</p>
    </div>
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{ end }}
{{ end }}
